*{
    -fx-border-radius: 0;
}

#stackPane{
    -fx-background-image: url("../fotos/wekafx_fondo.png");
}

.menu{
    -fx-background-color: transparent;
}

#vBox{
    -fx-padding: 40px;
}

#txtFjeldArchivo{
    -fx-border-width: 20px;
}

.text-area{

}

.button{
    -fx-border-color: #999;
    -fx-text-fill: #222;
    -fx-background-color: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
}

#btnBuscarArchivo{
    -fx-padding: 0 16px;
}

#btnEjecutarAlgoritmo{
    -fx-padding: 0 4px;
}